.add-user-btn {
  position: absolute;
  right: 56px;
  bottom: 56px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);

    &:first-child {
      cursor: unset;
      &:hover {
        background-color: unset;
      }
    }

    &:last-child {
      border-bottom: 0;
    }
    cursor: pointer;

    td {
      height: 48px;

      &:first-child {
        padding-left: 16px;
      }

      th {
        &:first-child {
          padding-left: 16px;
        }
      }
    }

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.04);
    }
  }

  th {
    color: rgba($color: #000000, $alpha: 0.4);
    font-size: 14px;
    width: 500;
    text-align: start;
  }
}
